body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.container-fluid {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 1rem;
  flex: 1;
  z-index: 1;
  //background-color: #dedede;
  //padding-right: 15px;
  //padding-left: 15px;
  //margin-right: auto;
  //margin-left: auto;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.form-select:focus {
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}

.searchBar-row {
  background-color: #575757;
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.filterIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background: white;
  border: 1px solid rgb(206, 212, 218);
  cursor: pointer;

  i {
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
  }
  i:hover {
    color: rgb(189, 189, 189) !important;
  }

  i.down {
    -ms-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
}

.instructions-link {
  color: rgb(236, 236, 236);
  cursor: pointer;
  align-self: center;
  margin-right: 0.5rem;
  transition: 0.3s color;
}

.instructions-link:hover, .instructions-link:focus {
  color: rgb(213, 213, 213);
}

#filtersCard {
  label {
    align-self: center;
  }

  input {
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 0.1rem 0.3rem;
  }

  input:focus {
    box-shadow: 0 3px 2px -0.1rem rgba(13, 110, 253, .25);
  }
}

.filtersRow {
  .filtersHeader {
    padding: 0;
    cursor: pointer;
    transition: 0.3s background-color;
    user-select: none;
  }

  .filtersHeader:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .clearTopFilters {
    user-select: none;
    transition: .3s;
  }
  .clearTopFilters:hover {
    transform: scale(1.01);
    box-shadow: 0 0 2px 2px rgba(13, 110, 253, 0.2);
  }

  .dateFilter {
    input {
      height: 31px;
      font-size: 14px;
    }
  }
}

.imageContainer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.45) 100%);

  .playIcon {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: white;
    transition: visibility 0.7s, opacity 0.7s;
    opacity: 0
  }
}

.imageContainer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.7s;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.45) 100%);
}

.imageContainer:hover {
  cursor: pointer;

  .playIcon {
    visibility: visible;
    opacity: 1;
  }
}

.imageContainer:hover:before {
  opacity: 1;
}

.showDuration {
  position: absolute;
  bottom: 0.1rem;
  left: 0.3rem;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.matchedTranscriptsIndicator {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  display: flex;
}

.matchedSubtitlesIndicator {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 5px;
}

.matchedSpeechIndicator {
  display: flex;
  align-items: center;
  color: white;
}

#videoModal {
  .modal-content {
    background-color: #141414;
    color: #dedede;
    border: 0;
  }

  .modal-header {
    border: 0;
    padding: 0.9rem 1rem;
  }
}

.navButtonsRow {
  display: flex;
  justify-content: end;
  padding: 6px 10px;

  div {
    border-bottom: 2px solid transparent;
    transition: 0.2s;
    cursor: pointer;
  }

  div:hover {
    border-color: #e0a56c;
    transform: scale(1.04);
  }

  .active {
    border-color: #e0a56c;
  }
}

#showDataTabs {
  .nav.nav-tabs {
    display: none;
  }
}

.showDataContainer {
  padding: 10px 15px 15px 15px;
  background: rgb(26 26 26);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.showTitle {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 2px;
}

.showInfo {
  color: #afafaf;
  font-size: 1rem;

  .showDescription {
    padding-top: 8px;
    font-size: 0.9rem;
    text-align: justify;
    white-space: pre-wrap;
  }
}

.searchSubtitlesRow {
  padding: 10px 15px;
  background: rgb(26 26 26);
  display: flex;
}

.allSubtitlesContainer {
  max-height: 350px;
  overflow-y: scroll;
  background: rgb(26 26 26);
  padding: 0 15px 10px 15px;
  border-bottom-left-radius: 0.3rem;

  .transcription {
    display: block;
    padding: 4px;
    line-height: 17px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 15px;
  }

  .transcription:hover {
    color: #e0a56c;
  }

  .currentTranscript {
    background: #945e11;
  }
}

.searchSpeechRow {
  padding: 10px 15px;
  background: rgb(26 26 26);
  display: flex;
}

.allSpeechContainer {
  max-height: 350px;
  overflow-y: scroll;
  background: rgb(26 26 26);
  padding: 10px 15px 10px 15px;
  border-bottom-left-radius: 0.3rem;

  .transcription {
    display: block;
    padding: 4px;
    line-height: 17px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 15px;
  }

  .transcription:hover {
    color: #e0a56c;
  }

  .currentTranscript {
    background: #945e11;
  }
}

.matchedTranscriptsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 12px 12px;
  width: 300px;
  min-width: 300px;
  background: #1f1f1f;
  border-bottom-right-radius: 0.3rem;


  .matchedSubtitlesHeader {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .matchedSubtitlesContainer {
    overflow-y: scroll;
    position: absolute;
    height: 100%;
  }

  .transcription {
    display: block;
    padding: 4px 0;
    line-height: 20px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 15px;
  }

  .transcription:hover {
    color: #e0a56c;
  }
}
