body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container-fluid {
  max-width: 1300px;
  margin: 0 auto;
  //padding-right: 15px;
  //padding-left: 15px;
  //margin-right: auto;
  //margin-left: auto;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.form-select:focus {
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}

.searchBar-row {
  background-color: lightsteelblue;
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

#filtersCard {
  label {
    align-self: center;
  }

  input {
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 0.1rem 0.3rem;
  }

  input:focus {
    box-shadow: 0 3px 2px -0.1rem rgba(13, 110, 253, .25);
  }
}

.imageContainer {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,  rgba(0,0,0,0.1) 70%, rgba(0,0,0,0.2) 80%, rgba(0, 0, 0, 0.45) 100%);

  .playIcon {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: white;
    transition:visibility 0.7s, opacity 0.7s;
    opacity:0
  }
}

.imageContainer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.7s;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.45) 100%);
}

.imageContainer:hover {
  cursor: pointer;
  .playIcon {
    visibility: visible;
    opacity: 1;
  }
}

.imageContainer:hover:before {
  opacity: 1;
}

.showDuration {
  position: absolute;
  bottom: 0.1rem;
  left: 0.3rem;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}