body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container-fluid {
  max-width: 1300px;
  margin: 0 auto;
  //padding-right: 15px;
  //padding-left: 15px;
  //margin-right: auto;
  //margin-left: auto;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.form-select:focus {
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, .25);
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}